.ztl-icon-ac-car-airconditioner-air-circulation-fan-accessories {
    background-image: url('../svg/ac-car-airconditioner-air-circulation-fan-accessories.svg');
}

.ztl-icon-air-conditioning-ac-cold-automobile-part-car {
    background-image: url('../svg/air-conditioning-ac-cold-automobile-part-car.svg');
}

.ztl-icon-aliment-wheel-automobile-part-car {
    background-image: url('../svg/aliment-wheel-automobile-part-car.svg');
}

.ztl-icon-airplane-service-shipment-shipping-logistic-delivery{
    background-image: url('../svg/airplane-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-analysis-graph-packing-shipment-shipping-logistic-delivery {
    background-image: url('../svg/analysis-graph-packing-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-arrow-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/arrow-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-barcode-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/barcode-packing-service-shipment-shipping-logistic-delivery.svg')
}

.ztl-icon-battery-automobile-part-car {
    background-image: url('../svg/battery-automobile-part-car.svg');
}

.ztl-icon-battery-clamper-car-accessories-starter-power {
    background-image: url('../svg/battery-clamper-car-accessories-starter-power.svg');
}

.ztl-icon-body-paint-repair-color-maintenance-service {
    background-image: url('../svg/body-paint-repair-color-maintenance-service.svg');
}

.ztl-icon-box-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/box-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-box-packing-service-shipment-shipping-logistic-delivery-1 {
    background-image: url('../svg/box-packing-service-shipment-shipping-logistic-delivery-1.svg');
}

.ztl-icon-broken-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/broken-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-bus-vehicle-automobile-transport {
    background-image: url('../svg/bus-vehicle-automobile-transport.svg');
}

.ztl-icon-calculator-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/calculator-service-shipment-shipping-logistic-delivery.svg')
}

.ztl-icon-calendar-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/calculator-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-callcenter-human-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/callcenter-human-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-caption-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/caption-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-car-door-mirror-automobile-lock {
    background-image: url('../svg/car-door-mirror-automobile-lock.svg');
}

.ztl-icon-car-wash-clean-service-automobile {
    background-image: url('../svg/car-wash-clean-service-automobile.svg');
}

.ztl-icon-card-credit-money-shipment-shipping-logistic-delivery {
    background-image: url('../svg/card-credit-money-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-cargo-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/cargo-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-carservice-car-repair-service-servicestation-garage {
    background-image: url('../svg/carservice-car-repair-service-servicestation-garage.svg');
}

.ztl-icon-cartrunk-trunk-service-damage-maintanance {
    background-image: url('../svg/cartrunk-trunk-service-damage-maintanance.svg');
}

.ztl-icon-certification-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/certification-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-clock-time-packing-shipment-shipping-logistic-delivery {
    background-image: url('../svg/clock-time-packing-shipment-shipping-logistic-delivery.svg')
}

.ztl-icon-cogwheel-gear-gears-engine-mechamism {
    background-image: url('../svg/cogwheel-gear-gears-engine-mechamism.svg');
}

.ztl-icon-compass-map-navigation-road-gps-tracing {
    background-image: url('../svg/compass-map-navigation-road-gps-tracing.svg');
}

.ztl-icon-computer-website-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/computer-website-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-container-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/container-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-cool-air-circulation-comfort {
    background-image: url('../svg/cool-air-circulation-comfort.svg');
}

.ztl-icon-counter-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/counter-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-diagnostic-monitoring-system-car-analysis {
    background-image: url('../svg/diagnostic-monitoring-system-car-analysis.svg');
}

.ztl-icon-disc-brake-automobile-part-car {
    background-image: url('../svg/disc-brake-automobile-part-car.svg');
}

.ztl-icon-drone-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/drone-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-ecommerce-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/ecommerce-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-ecommerce-packing-service-shipment-shipping-logistic-delivery-1 {
    background-image: url('../svg/ecommerce-packing-service-shipment-shipping-logistic-delivery-1.svg');
}

.ztl-icon-ecommerce-packing-service-shipment-shipping-logistic-delivery-1-2 {
    background-image: url('../svg/ecommerce-packing-service-shipment-shipping-logistic-delivery-1-2.svg');
}

.ztl-icon-ecommerce-packing-service-shipment-shipping-logistic-delivery-1-2-3 {
    background-image: url('../svg/ecommerce-packing-service-shipment-shipping-logistic-delivery-1-2-3.svg');
}

.ztl-icon-ecommerce-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/ecommerce-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-ecommerce-service-shipment-shipping-logistic-delivery-1 {
    background-image: url('../svg/ecommerce-service-shipment-shipping-logistic-delivery-1.svg');
}

.ztl-icon-ecommerce-shopping-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/ecommerce-shopping-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-electrical-service-tool-automobile-car-repair {
    background-image: url('../svg/electrical-service-tool-automobile-car-repair.svg');
}

.ztl-icon-engine-oil-automobile-part-car-fuel {
    background-image: url('../svg/engine-oil-automobile-part-car-fuel.svg');
}

.ztl-icon-engine-turnup-automobile-part-car {
    background-image: url('../svg/engine-turnup-automobile-part-car.svg');
}

.ztl-icon-exhaust-automobile-part-car {
    background-image: url('../svg/exhaust-automobile-part-car.svg');
}

.ztl-icon-fan-exhuast-air-circulation-recycle {
    background-image: url('../svg/fan-exhuast-air-circulation-recycle.svg');
}

.ztl-icon-fire-safety-extinguisher-warning-protection-safe {
    background-image: url('../svg/fire-safety-extinguisher-warning-protection-safe.svg');
}

.ztl-icon-fire-smoke-automobile {
    background-image: url('../svg/fire-smoke-automobile.svg');
}

.ztl-icon-flag-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/flag-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-folklife-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/folklife-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-free-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/free-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-fuel-petrol-gas-gasoline-consumption-station {
    background-image: url('../svg/fuel-petrol-gas-gasoline-consumption-station.svg');
}

.ztl-icon-gear-manual-transmission-car-gearbox-automobile-vehicle {
    background-image: url('../svg/gear-manual-transmission-car-gearbox-automobile-vehicle.svg');
}

.ztl-icon-gear-mechanism-automobile-part-car {
    background-image: url('../svg/gear-mechanism-automobile-part-car.svg');
}

.ztl-icon-gps-location-smartphone-shipment-shipping-logistic-delivery {
    background-image: url('../svg/gps-location-smartphone-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-gps-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/gps-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-gps-packing-service-shipment-shipping-logistic-delivery-1 {
    background-image: url('../svg/gps-packing-service-shipment-shipping-logistic-delivery-1.svg');
}

.ztl-icon-gps-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/gps-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-graph-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/graph-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-greece-oil-bottle-maintanance-mechanic-service {
    background-image: url('../svg/greece-oil-bottle-maintanance-mechanic-service.svg');
}

.ztl-icon-horn-blow-carhorn-vehicle-traffic {
    background-image: url('../svg/horn-blow-carhorn-vehicle-traffic.svg');
}

.ztl-icon-human-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/human-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-ignition-spark-plug-automobile-part-car {
    background-image: url('../svg/ignition-spark-plug-automobile-part-car.svg');
}

.ztl-icon-inflate-tire-air-pressure-check-measure {
    background-image: url('../svg/inflate-tire-air-pressure-check-measure.svg');
}

.ztl-icon-key-remote-control-lock-unlock-car {
    background-image: url('../svg/key-remote-control-lock-unlock-car.svg');
}

.ztl-icon-like-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/like-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-location-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/location-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-mag-wheel-rim-automobile-part-car {
    background-image: url('../svg/mag-wheel-rim-automobile-part-car.svg');
}

.ztl-icon-magnify-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/magnify-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-maintenance-repair-service-car-automobile {
    background-image: url('../svg/maintenance-repair-service-car-automobile.svg');
}

.ztl-icon-meter-power-energy-automobile-part-car {
    background-image: url('../svg/meter-power-energy-automobile-part-car.svg');
}

.ztl-icon-money-shopping-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/money-shopping-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-motorcycle-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/motorcycle-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-painting-work-color-gun-spray-tool {
    background-image: url('../svg/painting-work-color-gun-spray-tool.svg');
}

.ztl-icon-parachute-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/parachute-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-phone-mobile-telephone-emergency-walky-talky {
    background-image: url('../svg/phone-mobile-telephone-emergency-walky-talky.svg');
}

.ztl-icon-piston-automobile-part-car {
    background-image: url('../svg/piston-automobile-part-car.svg');
}

.ztl-icon-process-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/process-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-process-packing-service-shipment-shipping-logistic-delivery-1 {
    background-image: url('../svg/process-packing-service-shipment-shipping-logistic-delivery-1.svg');
}

.ztl-icon-protect-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/protect-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-protect-security-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/protect-security-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-radiator-automobile-part-car {
    background-image: url('../svg/radiator-automobile-part-car.svg');
}

.ztl-icon-refuel-car-vehicle-service-automobile-transport {
    background-image: url('../svg/refuel-car-vehicle-service-automobile-transport.svg');
}

.ztl-icon-remote-keyless-system-automatic {
    background-image: url('../svg/remote-keyless-system-automatic.svg');
}

.ztl-icon-report-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/report-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-report-packing-service-shipment-shipping-logistic-delivery-1 {
    background-image: url('../svg/report-packing-service-shipment-shipping-logistic-delivery-1.svg');
}

.ztl-icon-rims-tire-accessoties-wheel-automobile {
    background-image: url('../svg/rims-tire-accessoties-wheel-automobile.svg');
}

.ztl-icon-rims-tire-accessoties-wheel-automobile-car {
    background-image: url('../svg/rims-tire-accessoties-wheel-automobile-car.svg');
}

.ztl-icon-rocket-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/rocket-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-safety-belt-seatbelt-security-protectionaccessories {
    background-image: url('../svg/safety-belt-seatbelt-security-protectionaccessories.svg');
}

.ztl-icon-scale-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/scale-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-seat-driver-chair-frontseat-accessories-automobile {
    background-image: url('../svg/seat-driver-chair-frontseat-accessories-automobile.svg');
}

.ztl-icon-shop-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/shop-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-shopping-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/shopping-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-sidemirror-mirror-glass-car-automobile {
    background-image: url('../svg/sidemirror-mirror-glass-car-automobile.svg');
}

.ztl-icon-silencer-exhaust-pollution-controller-accessories-car {
    background-image: url('../svg/silencer-exhaust-pollution-controller-accessories-car.svg');
}

.ztl-icon-sound-speaker-hoofer-music-accessories {
    background-image: url('../svg/sound-speaker-hoofer-music-accessories.svg');
}

.ztl-icon-spanner-wrench-screwdriver-tool-repair-service-maintanace {
    background-image: url('../svg/spanner-wrench-screwdriver-tool-repair-service-maintanace.svg');
}

.ztl-icon-speed-transport-vehicle-service-shipping-logistic-delivery {
    background-image: url('../svg/speed-transport-vehicle-service-shipping-logistic-delivery.svg');
}

.ztl-icon-speedometer-indicator-dashboard-rpm-odometer-speed {
    background-image: url('../svg/speedometer-indicator-dashboard-rpm-odometer-speed.svg');
}

.ztl-icon-state-inpecion-check-list-service-automobile-car {
    background-image: url('../svg/state-inpecion-check-list-service-automobile-car.svg');
}

.ztl-icon-steering-wheel-automobile-part-car {
    background-image: url('../svg/steering-wheel-automobile-part-car.svg');
}

.ztl-icon-strut-suspension-automobile-parts-spring-car-service {
    background-image: url('../svg/strut-suspension-automobile-parts-spring-car-service.svg');
}

.ztl-icon-suspension-lift-carry-up-service-maintenance {
    background-image: url('../svg/suspension-lift-carry-up-service-maintenance.svg');
}

.ztl-icon-technician-avatar-mechanic-car {
    background-image: url('../svg/technician-avatar-mechanic-car.svg');
}

.ztl-icon-tire-wheel-automobile-part-car {
    background-image: url('../svg/tire-wheel-automobile-part-car.svg');
}

.ztl-icon-trailer-car-load-carry-automobile-part {
    background-image: url('../svg/trailer-car-load-carry-automobile-part.svg');
}

.ztl-icon-transport-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/transport-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-transport-packing-service-shipment-shipping-logistic-delivery-1 {
    background-image: url('../svg/transport-packing-service-shipment-shipping-logistic-delivery-1.svg');
}

.ztl-icon-transport-packing-service-shipment-shipping-logistic-delivery-1-2 {
    background-image: url('../svg/transport-packing-service-shipment-shipping-logistic-delivery-1-2.svg');
}

.ztl-icon-transport-packing-service-shipment-shipping-logistic-delivery-1-2-3 {
    background-image: url('../svg/transport-packing-service-shipment-shipping-logistic-delivery-1-2-3.svg');
}

.ztl-icon-transport-vehicle-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/transport-vehicle-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-viper-frontglass-wash-windshield-cleaner-accessories-carservice {
    background-image: url('../svg/viper-frontglass-wash-windshield-cleaner-accessories-carservice.svg');
}

.ztl-icon-warehouse-packing-service-shipment-shipping-logistic-delivery {
    background-image: url('../svg/warehouse-packing-service-shipment-shipping-logistic-delivery.svg');
}

.ztl-icon-warehouse-packing-service-shipment-shipping-logistic-delivery-1 {
    background-image: url('../svg/warehouse-packing-service-shipment-shipping-logistic-delivery-1.svg');
}

.ztl-icon-wind-pump-station-automobile-service {
    background-image: url('../svg/wind-pump-station-automobile-service.svg');
}

.ztl-icon-wiper-wash-clean-glass-automobile-car {
    background-image: url('../svg/wiper-wash-clean-glass-automobile-car.svg');
}

.ztl-icon-wrenching-wrench-screwdriver-repair-fitting-fix {
    background-image: url('../svg/wrenching-wrench-screwdriver-repair-fitting-fix.svg');
}

.ztl-icon-001-car-parts-4 {
    background-image: url('../svg/001-car-parts-4.svg');
}

.ztl-icon-002-elevator {
    background-image: url('../svg/002-elevator.svg');
}

.ztl-icon-003-car-parts-3 {
    background-image: url('../svg/003-car-parts-3.svg');
}

.ztl-icon-004-car-parts-2 {
    background-image: url('../svg/004-car-parts-2.svg');
}

.ztl-icon-005-car-parts-1 {
    background-image: url('../svg/005-car-parts-1.svg');
}

.ztl-icon-006-car-parts {
    background-image: url('../svg/006-car-parts.svg');
}

.ztl-icon-007-settings-2 {
    background-image: url('../svg/007-settings-2.svg');
}

.ztl-icon-008-mail {
    background-image: url('../svg/008-mail.svg');
}

.ztl-icon-009-email{
    background-image: url('../svg/009-email.svg');
}

.ztl-icon-010-machine-1 {
    background-image: url('../svg/010-machine-1.svg');
}

.ztl-icon-011-tools {
    background-image: url('../svg/011-tools.svg');
}

.ztl-icon-012-car {
    background-image: url('../svg/012-car.svg');
}

.ztl-icon-013-mechanic-5 {
     background-image: url('../svg/013-mechanic-5.svg');
}

.ztl-icon-014-oil {
     background-image: url('../svg/014-oil.svg');
}

.ztl-icon-015-cogwheels {
    background-image: url('../svg/015-cogwheels.svg');
}

.ztl-icon-016-pistons-1{
     background-image: url('../svg/016-pistons-1.svg');
}

.ztl-icon-017-mechanic-4 {
    background-image: url('../svg/017-mechanic-4.svg');
}

.ztl-icon-018-car-repair {
    background-image: url('../svg/018-car-repair.svg');
}

.ztl-icon-019-engine {
    background-image: url('../svg/019-engine.svg');
}

.ztl-icon-020-machine{
    background-image: url('../svg/020-machine.svg');
}

.ztl-icon-021-robotic-arm{
    background-image: url('../svg/021-robotic-arm.svg');
}

.ztl-icon-022-mechanic-3{
    background-image: url('../svg/022-mechanic-3.svg');
}

.ztl-icon-023-plan {
    background-image: url('../svg/023-plan.svg');
}

.ztl-icon-024-pistons {
    background-image: url('../svg/024-pistons.svg');
}

.ztl-icon-025-gauge {
    background-image: url('../svg/025-gauge.svg');
}

.ztl-icon-026-mechanic-2 {
    background-image: url('../svg/026-mechanic-2.svg');
}

.ztl-icon-027-settings {
    background-image: url('../svg/027-settings.svg');
}

.ztl-icon-028-mechanic-1{
    background-image: url('../svg/028-mechanic-1.svg');
}

.ztl-icon-029-mechanic{
     background-image: url('../svg/029-mechanic.svg');
}

.ztl-icon-030-settings-1{
    background-image: url('../svg/030-settings-1.svg');
}

.ztl-icon-clock{
    background-image: url('../svg/clock.svg');
}


.fip-box [class^="ztl-icon-"], .fip-box [class*=" ztl-icon-"]{
    width:36px;
    height:36px;
    display:inline-block;
}
